{% extends 'layout.twig' %}
{% block style %}
<link rel="stylesheet" href="/stylesheets/index.css">
{% endblock %}
{% block body %}
  {% if {{ message }} %}
    <div class="alert {{messageClass}}" role="alert">
      {{ message }}
    </div>
    <section id="top" class="jumbotron jumbotron-fluid" > 
      <div class="container"> 
        <h1 class="display-1 text-muted"><font color="white">Welcome</font></h1> 
        <p class="display-4 text-muted"><font color="white">on my website! </font></p> 
        <p><strong>Press "start" to play</strong></p> 
        <a href="/play" class="btn btn-lg btn-primary">START</a> 
      </div> 
    </section>
    <footer>
  <a href="https://www.linkedin.com/in/mateusz-cuper-front"><img src="https://img.icons8.com/color/40/000000/linkedin.png" target="_blank">
  </a>
  <p>Created by: Mateusz Cuper</p>
  <p>Contact information: <a href="mailto:matic07@interia.pl">
  matic07@interia.pl</a>.</p>
</footer>
  {% endif %}
{% endblock %}
