<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  {% block style %}
  {% endblock %}
  {% block head %}
  {% endblock %}
</head>
<body>
<nav class="
navbar bg-dark navbar-dark navbar-expand-md fixed-top
"> 
       <a href="#" class="
navbar-brand
">SHIPS</a> 
      <button type="button" class="
navbar-toggler   navbar-toggler-right
" data-
toggle="collapse" data-target="#navbarNav">   <span
 class="navbar-toggler-icon"></span>    
    </button> 
    <div class="
collapse navbar-collapse
" id="navbarNav"> 
        <ul class="navbar-nav" id="navScrollspy"> 
          <li class="nav-item"> 
            <a class="nav-link" href="/">Home</a
> 
          </li> 
          <li class="nav-item"> 
            <a class="nav-link" href="/play">Play</a> 
          </li> 
          <li class="nav-item"> 
            <a class="nav-link" href="/statistics">Statistics</a> 
          </li> 
          <li class="nav-item"> 
            <a class="nav-link" href="/account">Account</a>
          </li> 
          {% if logged %}
          <li class="nav-item"> 
            <a class="nav-link" href="/logout">Logout</a> 
          </li> 
          {% else %}
          <li class="nav-item"> 
            <a class="nav-link" href="/login">Login</a> 
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/register">Register</a> 
          </li>
          {% endif %}
        </ul> 
      </div> 
    </nav> 


  {% block body %}
  {% endblock %}
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script
  {% block script %}
  {% endblock %}
</body>
</html>