{% extends 'layout.twig' %}
{% block style %}
    <link rel="stylesheet" href="/stylesheets/login.css">
{% endblock %}

{% block body %}
    
 <div class="col-md-4 col-md-offset-4" id="login">

{% if {{ message }} %}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
            {% endif %}
						<form method="POST" action="/register">
                        <section id="inner-wrapper" class="login">
						<p><h2>Create account</h2></p1>
							<article>
								<form>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"> </i></span>
											<input name="firstName" type="text" class="form-control" placeholder="Login">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
											<input name="email" type="email" class="form-control" placeholder="Enter email">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-key"> </i></span>
											<input name="password" type="password" class="form-control" placeholder="Password">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-key"> </i></span>
											<input name="confirmPassword" type="password" class="form-control" placeholder="Re-enter your password here!">
										</div>
									</div>
									  <button type="submit" class="btn btn-success btn-block">REGISTER NOW</button>
								</form>
							</article>
						</section>
                        </form>
                        <div> 

{% endblock %}