
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  
  padding: 10px;
}

.grid-container > div {
  
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / 2;
  padding-top: 15px;
}
.item2 {
    grid-column: 3 / 7;
    padding-top: 15px;
}
h1 {text-align: center;}